body {
  background-color: #0EC477;
}

table#game_board {
  margin: auto;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(34,34,34);
}

table#game_board td {
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0,0,0);
}

td.hovered_over {
  background: url('../images/hover.gif'), rgb(111,194,123);
  background-size: 100% 100%;
}

#my_color {
  padding-top: 1rem;
}

#quit .btn-danger {
  border-radius: 0 0 0.25rem 0.25rem;
}

#game-col {
  margin-top: 1rem;
}

#elapsed {
  margin-left: 1px;
}

#game_over a {
  margin-bottom: 1rem;
}

h4.whose-turn {
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 2.3rem 0 0.5rem;
  margin: 0.2rem 0;
}

h4.whose-turn span {
  margin-left: -3px;
}

h4.black {
  background-color: #000;
  color: #fff;
}

h4.white {
  background-color: #fff;
  color: #000;
}

h4.whose-turn:before {
  transform: scale(.5);
  position: absolute;
  top: -0.6rem;
}

h4.black:before {
  content: url('../images/zebra.png');
}

h4.white:before {
  content: url('../images/panda.png');
}

#winnerModal h5 {
  color: #333333;
}

#winnerModal img {
  max-width: 250px;
}

#winnerModal h2 {
  color: #333333;
}

#winnerModal h3 {
  color: #333333;
  -webkit-animation-name: winner; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: winner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes winner {
  0%   {color:#0E4CC4;}
  25%  {color:#0E82CF;}
  50%  {color:#17A2B8;}
  75%  {color:#0ECFB4;}
  100% {color:#0EC477;}
}

/* Standard syntax */
@keyframes winner {
  0%   {color:#0E4CC4;}
  25%  {color:#0E82CF;}
  50%  {color:#17A2B8;}
  75%  {color:#0ECFB4;}
  100% {color:#0EC477;}
}

#winnerModal .winning-animal {
  -webkit-animation-name: animal; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: animal;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animal {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1200px) {
  #game-col {
    min-width: 640px;
  }
}